h1{
  background-color: #1e8abe;
  color: #ffffff;
  font-size: 60px;
  font-family: "summit";
}
body {
    background-image: url(black_background.jpg);
}
p{
  font-size: 30px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 30em;
}
h2{
  font-size: 60px;
  font-family: "summit";
  background-color: #1e8abe;
  margin-left: auto;
  margin-right: auto;
  width: 15em;
  color:white;
}
.everything{
  width 100px;
}
.chant{
  text-align: center;
  font-style: italic;
  color: green;
  font-size: 40px;
  width: 22.5em;

}
