h1{
  background-color: #1e8abe;
  color: #ffffff;
  font-size: 60px;
  font-family: "summit";
}
body {
    background-image: url(black_background.jpg);
}
p{
  font-size: 30px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 30em;
  font-family:"comic-sans";
}
